MK DAA Latihan Pertemuan 2

Nama : Syifa Nur Nabila

NIM  : 2023071017

In [14]:
import numpy as np

In [93]:
a = [1,2,3]
b = [4,5,6]
hasil = a + b

In [41]:
print(sum(hasil))

21

In [102]:
def totallist(list1,list2):
    total = 0
    for i in list1:
      total += i
    for i in list2:
      total += i
    return total

In [103]:
totallist(a,b)

21

In [104]:
def totallist(mylist):
  total = 0
  for i in mylist:
    total += i
  return total

In [105]:
add_a_b = np.add(a, b)
totallist(add_a_b)

21

In [51]:
# menampilkan nilai array
nilai_siswa = np.array([85,55,40,90])
print(nilai_siswa[3])

90

In [54]:
print("Hallo, World!")
print("Nama saya (Syifa Nur Nabila)")
print("NIM (2023071017)")

Hallo, World!
Nama saya (Syifa Nur Nabila)
NIM (2023071017)

In [88]:
Nama = input("Masukkan nama anda: ")
NIM = int(input("Masukkan NIM anda: "))

print(f"Nama saya {Nama}")
print(f"NIM saya {NIM}")

Masukkan nama anda: Syifa Nur Nabila
Masukkan NIM anda: 2023071017
Nama saya Syifa Nur Nabila
NIM saya 2023071017

In [65]:
if 5>2:
  print("Five is geater in two")

Five is geater in two

In [62]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [64]:
x = 5
x = "Sally"
print(x)

Sally

In [70]:
def getFirst(myList):
  return (myList[0])
getFirst([1,2,3])

1

In [71]:
def getSecond(myList):
  return (myList[1])
getSecond([1,2,3])

2

In [73]:
def getLast(myList):
  return (myList[2])
getLast([1,2,3])

3

In [74]:
def getlast(list):
  return list[-1]
getlast([1,2,3,4,5,6,7,8,9])

9

In [86]:
def getlast2(list):
  size = len(list)
  print(f"size {size}")
  return list[size-1]
getlast2([1,2,3,4,5])

size 5

5