**MK** **DAA** **Tugas** **Latihan** **Pertemuan** **2**

**Nama** **:** **Syifa** **Nur** **Nabila**

**NIM**  **:** **2023071017**

In [14]:
import numpy as np

In [93]:
#Fungsi untuk menjumlahkan 2 arrray
a = [1,2,3]
b = [4,5,6]
hasil = a + b

In [41]:
print(sum(hasil))

21

In [125]:
#Fungsi untuk menjumlahkan 2 arrray
def totallist(list1,list2):
    total = 0
    for i in list1:
      total += i
    for i in list2:
      total += i
    return total

In [126]:
totallist(a,b)

21

In [104]:
#Fungsi untuk menjumlahkan 2 arrray
def totallist(mylist):
  total = 0
  for i in mylist:
    total += i
  return total

In [105]:
add_a_b = np.add(a, b)
totallist(add_a_b)

21

In [51]:
# Fungsi menampilkan nilai array ke-3
nilai_siswa = np.array([85,55,40,90])
print(nilai_siswa[3])

90

In [54]:
#Fungsi untuk mencetak atau menampilkan beberapa teks ke layar.
print("Hallo, World!")
print("Nama saya (Syifa Nur Nabila)")
print("NIM (2023071017)")

Hallo, World!
Nama saya (Syifa Nur Nabila)
NIM (2023071017)

In [88]:
#Fungsi untuk meminta input pengguna dan menampilkan kembali input tersebut.
Nama = input("Masukkan nama anda: ")
NIM = int(input("Masukkan NIM anda: "))

print(f"Nama saya {Nama}")
print(f"NIM saya {NIM}")

Masukkan nama anda: Syifa Nur Nabila
Masukkan NIM anda: 2023071017
Nama saya Syifa Nur Nabila
NIM saya 2023071017

In [65]:
#Fungsi sebuah pernyataan kondisional if
if 5>2:
  print("Five is geater in two")

Five is geater in two

In [62]:
#Fungsi untuk menampilkan perintah cetak
x = 5
y = "John"
print(x)
print(y)

5
John

In [64]:
#Fungsi yang melakukan dua tugas dan data terakhir adalah data update yang digunakan.
x = 5
x = "Sally"
print(x)

Sally

In [70]:
#Fungsi untuk mengambil elemen pertama dari sebuah list.
def getFirst(myList):
  return (myList[0])
getFirst([1,2,3])

1

In [71]:
#Fungsi untuk mengambil elemen ke-dua dari sebuah list.
def getSecond(myList):
  return (myList[1])
getSecond([1,2,3])

2

In [73]:
#Fungsi untuk mengambil elemen terakhir dari sebuah list.
def getLast(myList):
  return (myList[2])
getLast([1,2,3])

3

In [74]:
#Fungsi untuk mengambil elemen terakhir dari sebuah list.
def getlast(list):
  return list[-1]
getlast([1,2,3,4,5,6,7,8,9])

9

In [122]:
#Fungsi untuk mengambil elemen terakhir dari sebuah list.
def getlast2(list):
  size = len(list)
  print(f"size {size}")
  return list[size-1]
getlast2([1,2,3,4,5])

size 5

5

In [115]:
#Fungsi untuk menghitung jumlah semua angka di dalam sebuah list.
def getSum(mylist):
  sum = 0
  for item in mylist:
    sum = sum+item
  return sum
getSum([1,2,3,4])

10

In [116]:
#Fungsi untuk menghitung perkalian semua angka di dalam sebuah list.
def getKali(mylist):
    kali = 1  # Inisialisasi dengan 1 karena apapun dikali 1 hasilnya tetap sama
    for item in mylist:
        kali = kali * item
    return kali

getKali([1,2,3,4])

24

In [136]:
#Fungsi untuk membagi elemen-elemen dalam list secara berpasangan.
def bagi_berpasangan(list_angka, pembagi_default=1):
  hasil = []
  for i in range(0, len(list_angka), 2):
    if i + 1 < len(list_angka):
      hasil.append(list_angka[i] / list_angka[i+1])
    else:
      hasil.append(list_angka[i] / pembagi_default)
  return hasil

angka = [8, 4, 6, 2]
hasil_bagi_berpasangan = bagi_berpasangan(angka)
print("Hasil bagi berpasangan:", hasil_bagi_berpasangan)

Hasil bagi berpasangan: [2.0, 3.0]

In [121]:
#Fungsi untuk membagi setiap elemen dalam list dengan angka konstan.
def bagi_dengan_konstanta(list_angka, pembagi):
  hasil = []
  for angka in list_angka:
    hasil.append(angka / pembagi)
  return hasil

angka = [10, 20, 30]
pembagi = 5
hasil_bagi = bagi_dengan_konstanta(angka, pembagi)
print("Hasil bagi:", hasil_bagi)

Hasil bagi: [2.0, 4.0, 6.0]

In [137]:
#Fungsi getSum untuk menjumlahkan 2 array
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
      sum += item
  return sum

In [128]:
getSum([[1,2,5],[3,4,7]])

22

In [132]:
#Fungsi untuk membagi 2 himpunan angka
def bagiHimpunan(himpunan1, himpunan2):

  jumlah1 = getSum(himpunan1)
  jumlah2 = getSum(himpunan2)

  if jumlah2 == 0:
    raise ValueError("Tidak dapat membagi dengan nol")

  hasil_bagi = jumlah1 / jumlah2
  return hasil_bagi


himpunan_a = [[20, 20, 20, 20]]
himpunan_b = [[10, 10, 10, 10]]

hasil = bagiHimpunan(himpunan_a, himpunan_b)
print(hasil)

2.0

In [133]:
#Fungsi untuk mengurangi 2 himpunan angka
def bagiHimpunan(himpunan1, himpunan2):

  jumlah1 = getSum(himpunan1)
  jumlah2 = getSum(himpunan2)

  if jumlah2 == 0:
    raise ValueError("Tidak dapat membagi dengan nol")

  hasil_pengurangan = jumlah1 - jumlah2
  return hasil_pengurangan


himpunan_a = [[20, 20, 20, 20]]
himpunan_b = [[10, 10, 10, 10]]

hasil = bagiHimpunan(himpunan_a, himpunan_b)
print(hasil)

40